/.phpunit.cache
/node_modules
/packages/policiacivil
/storage/*.key
/storage/pail
/storage/qrcode/qrcode.png
/storage/logs/laravel.log
/storage/framework/sessions
/vendor
.env
composer.lock
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
